<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="
       http://activemq.apache.org/schema/core
       http://activemq.apache.org/schema/core/activemq-core.xsd
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms.xsd
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <context:component-scan base-package="com.sjb.chapter16"/>

    <!--
        <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory"/>
    -->

    <amq:connectionFactory id="connectionFactory" brokerURL="tcp://localhost:61616"/>

    <amq:queue id="spittleQueue" physicalName="spittle.alert.queue"/>
    <amq:queue id="spittleTopic" physicalName="spittle.alert.topic"/>


    <!-- messageConverter 를 jackson으로 사용할 경우-->
    <bean id="messageConverter" class="org.springframework.jms.support.converter.MarshallingMessageConverter"/>

    <!-- jms connectionFactory-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate"
          c:_0-ref="connectionFactory"
          p:defaultDestination-ref="spittleTopic"
          p:messageConverter-ref="messageConverter"
    />


    <!--

        &lt;!&ndash; JPA &ndash;&gt;
        <jpa:repositories base-package="com.sjb.chapter11" />

        &lt;!&ndash; Cache 활성화 &ndash;&gt;
        <cache:annotation-driven />
        &lt;!&ndash; Cache 매니저 선언 &ndash;&gt;
        <bean id ="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager" />

    -->

    <!-- chapter1 -->
    <!--    <bean id="knight" class="com.sjb.chapter1.di.BraveKnight">
            <constructor-arg ref="quest"/>
        </bean>

        <bean id="quest" class="com.sjb.chapter1.di.SlayDragonQuest">
            <constructor-arg value="#{T(System).out"/>
        </bean>-->

    <!-- chapter2 -->
    <!--    <context:component-scan base-package="com.sjb.chapter2.soundsystem"/>-->

    <!-- 빈 레퍼런스를 사용한 생성자 주입 -->
    <!--        <bean id="compactDisc" class="com.sjb.chapter2.soundsystem.SgtPeppers"/>
            <bean id="cdPlayer" class="com.sjb.chapter2.soundsystem.CDPlayer">
                <constructor-arg ref="compactDisc"/>
            </bean>

            &lt;!&ndash; c-네임스페이스 사용 &ndash;&gt;
            <bean id="cdPlayer2" class="com.sjb.chapter2.soundsystem.CDPlayer"
                  c:_0-ref="compactDisc"/>
        <bean id="compactDisc" class="com.sjb.chapter2.soundsystem.BlankDisc">
            <constructor-arg value="Sgt. Pepper's Lonely Hearts Club Band"/>
            <constructor-arg value="The Beatles"/>
        </bean>-->
</beans>